* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.bckgrd-img {
    min-height: 600px;
    background-color: rgb(200, 120, 80);
    background-image: url(https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.top-buttons,
.top-logo,
nav,
ul,
li {
    display: flex;
    flex-wrap: wrap;
}

nav {
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}

.top-logo img {
    max-height: 100px;
}

li {
    list-style: none;
    margin: 10px;
    outline: 4px solid white;
    background-color: rgb(30,36, 128);
    border-radius: 10px;
}

a {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

li:hover,
a:hover {
    background-color: white;
    color: rgb(30,36, 128)
}

li:hover {
    outline: 4px solid rgb(30,36, 128);
}